.c-pageup {
    @include getTriangle($pageup-color, top, 8.66, 7.5);

    border: 1px solid $pageup-color;
    border-radius: 50%;
    color:  $pageup-color;
    display: block;
    font-size: 12px;
    height: 55px;
    margin: 0 auto;
    padding: 16px 0 0;
    text-align: center;
    width: 55px;

    &::before {
        left: 0;
        margin: auto;
        right: 0;
        top: 7px;
    }

    &:focus,
    &:hover {
        opacity: .3;
    }
}