.p-sns {
    align-items: center;
    display: flex;
    justify-content: center;
}

.p-sns__item {
    &:nth-of-type(n+2) {
        margin: 0 0 0 35px;
    }
}

.p-sns__link {
    &:focus,
    &:hover {
        opacity: .6;
    }
}