<% var d = jsonData; -%>
    <footer class="l-footer">
        <p class="l-footer-copy">Copyright ©  NBF. All Rights Reserved.</p>
    </footer>
    </div><!-- .l-wrapper -->
    <script src="<%- d.path %>js/script.js" async></script>
</body>
</html>