<nav class="p-navigation">
    <ul class="p-navigation-list">
        <li class="p-navigation-list__item">
            <a href="http://www.nbf.or.jp/member/member_001.html" class="p-navigation-list__link">
                協会概要
            </a>
        </li>
        <li class="p-navigation-list__item">
            <a href="http://www.nbf.or.jp/member/member_0519.html" class="p-navigation-list__link">
                ガイドライン
            </a>
        </li>
        <li class="p-navigation-list__item">
            <a href="#TODO" class="p-navigation-list__link">
                個人情報保護方針
            </a>
        </li>
        <li class="p-navigation-list__item">
            <a href="http://www.nbf.or.jp/member/member_1201.html" class="p-navigation-list__link">
                アクセスマップ
            </a>
        </li>
    </ul>
</nav>